.typewrite {
  color: #f55845;
}

body {
  background-color: #101010;
}

#main {
  min-height: calc(100vh - 50px);
}

#scroll-icon {
  opacity: 1;
  -webkit-transition: opacity 10s ease-in-out;
  -moz-transition: opacity 10s ease-in-out;
  -ms-transition: opacity 10s ease-in-out;
  -o-transition: opacity 10s ease-in-out;
  transition: opacity 10 ease-in-out;
}
#scroll-icon.fade {
  opacity: 0;
}

.bold {
  font-weight: 700;
}

.large {
  font-size: 60px;
  font-family: "Secular One", sans-serif;
}

.text {
  font-family: "Roboto", sans-serif;
}

.text-underline {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
}

#hand {
  width: 10px;
  height: 10px;
  background-size: cover;
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.white-button {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 10px 30px;
  border-radius: 0;
  font-family: "Noto Sans Miao", sans-serif;
  font-weight: 400;
}

.white-button-small {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 6px 22px;
  border-radius: 0;
  font-family: "Noto Sans Miao", sans-serif;
  font-weight: 400;
}

.white-button-small:hover {
  background-color: #f55845;
  color: #fff;
}

.social-button {
  color: wheat;
  margin-left: 30px;
  margin-right: 0px;
  height: 50px;
  text-decoration: none;
}

.deer-button {
  background-color: wheat;
  color: wheat;
  padding: 4px;
  border-radius: 30%;
  margin-left: 30px;
  box-shadow: none;
}

.deer-button:hover {
  background-color: #f55845;
  color: #f55845;
  text-decoration: none;
}
.deer-button:active  {
  background-color: #f55845;
  color: #f55845;
  text-decoration: none;
}
.deer-button:focus {
  background-color: #f55845;
  color: #f55845;
  text-decoration: none;
}

a:hover {
  color: #f55845;
  text-decoration: none;
}
a:active  {
  color: #f55845;
  text-decoration: none;
}
a:focus {
  color: #f55845;
  text-decoration: none;
}

.a:hover {
  background-color: #f55845;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #101010;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: #101010;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* SCROLL ANIMATION */
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  top: 95%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(33px);
  }
}

/* ELCH ANIMATION */
.preloader {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

#social {
  display: none;
}

@media screen and (min-width: 575px) and (max-width: 1015px) {
  #about-container {
    min-height: 180px;
  }

  #social {
    display: inline;
  }
}

@media screen and (max-width: 450px) {
  #about-container {
    min-height: 180px;
  }

  #social {
    display: inline;
  }
}
